<%= content_for(:title, "About") %>

<section>
    <div class="wrapper dg-content">
        <div class="container-about">
           <h1 class="animated wow fadeInUpBig animated">Front-end Developer & Back-end Developer </h1>
            <h4>Learn about Vubon's Skill Set and the Type of Work He Does</h4>
        </div>
        <ul class="bg-life">
            <li>Life</li>
            <li>at</li>
            <li>Code</li>
            <li></></li>
            <li>{}</li>
            <li>Rails</li>
            <li>JS</li>
            <li>Ruby</li>
            <li>()</li>
            <li>WordPress</li>
        </ul>
    </div>
</section>
<section id="services-area">
    <div class="overlly dg-content">
        <div class="container">
            <div class="row">
                <h2 class="what-i-do">What I Do</h2>
                <hr>
                <div class="col-md-4 col-sm-4">
                    <div class="web">
                        <div class="s-icon-bar">
                            <i class="fa fa-globe fa-3x"></i>
                        </div>
                        <div class="s-description">
                            <h3 class="text-center">Web Application Development</h3>
                            <p>I am working on latest web technologies including Ruby on Rails, PHP Frameworks, Ajax, jQuery, Angularjs, WordPress etc. My primary target focuses on delivering high quality web based application with top performance. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="web">
                        <div class="s-icon-bar">
                            <i class="fa fa-paper-plane-o fa-3x"></i>
                        </div>
                        <div class="s-description">
                            <h3 class="text-center">Research on <br/>UI, UX</h3>
                            <p>User interface along with User experience is our principle research zone. It makes our apps versatile and popular over the world. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="web">
                        <div class="s-icon-bar">
                            <i class="fa fa-pencil fa-3x"></i>
                        </div>
                        <div class="s-description">
                            <h3 class="text-center">Custom <br/> Coding Service</h3>
                            <p>We listen to our client's personal requests very carefully also. So dedicated customization service also provided by our highly ecperienced developer team. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer-portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/portfolio" title="Portfolio">View my works</a>
            </div>
        </div>
    </div>
</section>

