    	<section id="footer">
			<div class="container">
				<div class="col-md-3 social facebook col-xs-3">
					<a href="http://facebook.com/lifeatcode" target="_blank"><i class="fa fa-facebook "></i></a>
				</div>
				<div class="col-md-3 social twitter col-xs-3">
					<a href="http://twitter.com/vubonroy" target="_blank"><i class="fa fa-twitter "></i></a>
				</div>
				<div class="col-md-3 social google col-xs-3">
					<a href="#"><i class="fa fa-google-plus "></i></a>
				</div>
				<div class="col-md-3 social email col-xs-3">
					<a href="mailto:vubon.roy@gmail.com"><i class="fa fa-envelope-o "></i></a>
				</div>
			</div>
		</section>